.fade-enter {
  opacity: 0;
  transform: translateY(20%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 400ms ease;
}

.fade-exit {
  opacity: 0;
  transform: translateY(-20%);
  transition: 400ms ease;
}
